[Desktop Entry]
Encoding=UTF-8
Name=Database
Name[bg]=Бази от данни
Name[cs]=Databáze
Name[de]=Datenbank
Name[el]=Βάση δεδομένων
Name[en_CA]=Database
Name[en_GB]=Database
Name[en_ZA]=Database
Name[es]=Base de datos
Name[fi]=Tietokanta
Name[gl]=Base de datos
Name[hu]=Adatbázis
Name[mk]=Бази за податоци
Name[nb]=Database
Name[ne]=डेटाबेस
Name[nl]=Database
Name[no]=Database
Name[nr]=Ibulungelo lekhompyutha
Name[nso]=Datapeisi
Name[rw]=Ububikoshingiro
Name[sk]=Databáza
Name[sq]=Databazë
Name[st]=Datapeisi
Name[ts]=Vuhlayisela-rungula
Name[vi]=Cơ sở dữ liệu
Name[wa]=Båze di dnêyes
Name[xh]=Isiseko seenkcukacha
Name[zh_CN]=数据库
Name[zu]=Idatabheyzi
Comment=OpenOffice.org database
Comment[bg]=Програма за бази от данни на OpenOffice.org
Comment[cs]=Databáze OpenOffice.org
Comment[de]=OpenOffice.org Datenbank
Comment[el]=Βάση δεδομένων OpenOffice.org
Comment[en_CA]=OpenOffice.org database
Comment[en_GB]=OpenOffice.org database
Comment[en_ZA]=OpenOffice.org database
Comment[es]=Base de datos de OpenOffice.org
Comment[fi]=OpenOffice.org-tietokanta
Comment[gl]=Base de datos de OpenOffice.org
Comment[hu]=OpenOffice.org adatbázis
Comment[mk]=Бази за податоци
Comment[nb]=OpenOffice.org database
Comment[ne]=ओपन अफिस.ओ आर जि डाटाबेस
Comment[nl]=OpenOffice.org database
Comment[no]=OpenOffice.org database
Comment[nr]=Ibulungelo le-OpenOffice.org
Comment[nso]=Datapeisi ya OpenOffice.org
Comment[sk]=OpenOffice.org databáza
Comment[sq]=Databazë OpenOffice.org
Comment[st]=Datapeisi ya OpenOffice.org 
Comment[ts]=Vuhlayisela-rungula bya OpenOffice.org
Comment[vi]=Cơ sở dữ liệu OpenOffice.org
Comment[wa]=Båze di dnêyes d' OpenOffice.org
Comment[xh]=Isiseko seenkcukacha se-OpenOffice.org
Comment[zh_CN]=OpenOffice.org 数据库
Comment[zu]=Idatabheyzi ye-OpenOffice.org
TryExec=oobase
Exec=oobase %U
Icon=ooo-base.png
Terminal=false
Type=Application
Categories=Office;Database;
StartupNotify=true
MimeType=application/vnd.oasis.opendocument.database
# vi: encoding=utf-8