[Desktop Entry]
Encoding=UTF-8
Name=Drawing
Name[az]=Rəsm
Name[bg]=Рисунка
Name[bs]=Crtanje
Name[ca]=Dibuix
Name[cs]=Kreslení
Name[da]=Tegneprogram
Name[de]=Zeichnung
Name[el]=Σχεδιασμός
Name[en_CA]=Drawing
Name[en_GB]=Drawing
Name[en_ZA]=Drawing
Name[es]=Dibujo
Name[eu]=Marrazketa
Name[fi]=Piirros
Name[fr]=Dessin
Name[ga]=Tarraingt
Name[gl]=Debuxo
Name[gu]=ચિત્ર
Name[he]=ציור
Name[hr]=Crtanje
Name[hu]=Rajzoló
Name[ja]=ドロー
Name[ka]=ხატვა
Name[ko]=그리기
Name[mk]=Цртање
Name[ms]=Lukisan
Name[nb]=Tegning
Name[ne]=रेखाचित्र
Name[nl]=Ontwerpen
Name[no]=Tegning
Name[nr]=Umgwalo
Name[nso]=Go Thala
Name[pa]=ਡਰਾਇੰਗ
Name[pl]=Rysunek
Name[pt]=Drawing
Name[pt_BR]=Desenho
Name[rw]=Igishushanyo
Name[sk]=Kreslenie
Name[sq]=Vizatim
Name[sr]=Цртање
Name[sr@Latn]=Crtanje
Name[st]=Ho torowa
Name[sv]=Teckning
Name[th]=วาดเขียน
Name[tr]=Çizim
Name[ts]=Vudirowi
Name[uk]=Малювання
Name[vi]=Vẽ
Name[wa]=Dessinaedje
Name[xh]=Umzobo
Name[zh_CN]=绘图
Name[zh_TW]=繪圖
Name[zu]=Ukudweba
Comment=OpenOffice.org drawing package
Comment[az]=OpenOffice.org rəsm çəkmə paketi
Comment[bg]=Програма за рисуване на OpenOffice.org
Comment[bs]=OpenOffice.org paket za crtanje
Comment[ca]=Paquet de dibuix de l'OpenOffice.org
Comment[cs]=Kreslicí balík OpenOffice.org
Comment[da]=OpenOffice.org-tegnepakke
Comment[de]=OpenOffice.org Zeichnungspaket
Comment[el]=Εφαρμογή σχεδιασμού OpenOffice.org
Comment[en_CA]=OpenOffice.org drawing package
Comment[en_GB]=OpenOffice.org drawing package
Comment[en_ZA]=OpenOffice.org drawing package
Comment[es]=Paquete de dibujo de OpenOffice.org
Comment[eu]=OpenOffice.org marrazketa paketea
Comment[fi]=OpenOffice.org-piirrospaketti
Comment[fr]=Dessin OpenOffice.org
Comment[ga]=Pacáiste Tarraingt OpenOffice.org
Comment[gl]=Paquete de debuxo de OpenOffice.org
Comment[gu]=OpenOffice.org દોરવાનું પેકેજ
Comment[he]=חבילת הציור של OpenOffice.org
Comment[hr]=OpenOffice.org paket za crtanje
Comment[hu]=OpenOffice.org rajzoló alkalmazás
Comment[ja]=OpenOffice.org ドローパッケージ
Comment[ka]=OpenOffice.org-ის სახატავი პაკეტი
Comment[ko]=OpenOffice.org 그리기 꾸러미
Comment[mk]=Пакет за цртање
Comment[ms]=Pakej lukisan OpenOffice.org
Comment[nb]=OpenOffice.org tegneprogram
Comment[ne]=ओपन अफिस.ओआरजी रेखाचित्र प्याकेज
Comment[nl]=OpenOffice.org tekenpakket
Comment[no]=OpenOffice.org tegneprogram
Comment[nr]=Ibuthelelo lokugwala le-OpenOffice.org
Comment[nso]=Sephuthelwana sa go thala sa OpenOffice.org
Comment[pa]=ਉਪਨਆਫਿਸ.org ਡਰਾਇੰਗ ਪੈਕੇਜ
Comment[pl]=Rysunek OpenOffice.org
Comment[pt]=Pacote de desenho OpenOffice.org
Comment[pt_BR]=Pacote de desenho OpenOffice.org
Comment[sk]=OpenOffice.org balík pre kreslenie
Comment[sq]=Paketa për vizatimet në OpenOffice.org
Comment[sr]=Пакет за цртање из Отворене канцеларије
Comment[sr@Latn]=Paket za crtanje iz Otvorene kancelarije
Comment[st]=Sephuthelwana sa OpenOffice.org sa ho torowa
Comment[sv]=OpenOffice.org-teckningspaket
Comment[th]=OpenOffice.org ชุดวาดเขียน
Comment[tr]=OpenOffice.org çizim paketi
Comment[ts]=Xikatsa xa vudirowi xa OpenOffice.org
Comment[uk]=Пакет для малювання OpenOffice.org
Comment[vi]=Gói vẽ OpenOffice.org
Comment[wa]=Programe di dessinaedje d' OpenOffice.org
Comment[xh]=Ubekelelo lomzobo we-Office.org
Comment[zh_CN]=OpenOffice.org 绘图程序
Comment[zh_TW]=OpenOffice.org 繪圖軟體
Comment[zu]=Iphakheji yokudweba ye-OpenOffice.org
TryExec=oodraw
Exec=oodraw %U
Icon=ooo-draw.png
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=true
MimeType=application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw;application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;
