[Desktop Entry]
Encoding=UTF-8
Name=Formula
Name[bg]=Формула
Name[cs]=Vzorec
Name[de]=Formel
Name[el]=Φόρμουλα
Name[en_CA]=Formula
Name[en_GB]=Formula
Name[en_ZA]=Formula
Name[es]=Fórmula
Name[gl]=Fórmula
Name[hu]=Képlet
Name[mk]=Формула
Name[ne]=सुत्र
Name[nl]=Formule
Name[nr]=Fomula
Name[nso]=Fomula
Name[rw]=Inzira
Name[sk]=Vzorec
Name[sq]=Formulë
Name[st]=Fomula
Name[ts]=Fomula
Name[vi]=Công thức
Name[wa]=Formules
Name[xh]=Indlela yokusebenza
Name[zh_CN]=公式
Name[zu]=Ifomula
Comment=OpenOffice.org formula editor
Comment[bg]=Програма за създаване на формули на OpenOffice.org
Comment[cs]=Editor vzorců OpenOffice.org
Comment[de]=OpenOffice.org Formeleditor
Comment[el]=Επεξεργαστής φόρμουλας OpenOffice.org
Comment[en_CA]=OpenOffice.org formula editor
Comment[en_GB]=OpenOffice.org formula editor
Comment[en_ZA]=OpenOffice.org formula editor
Comment[es]=Editor de fórmulas de OpenOffice.org
Comment[gl]=Editor de fórmulas de OpenOffice.org
Comment[hu]=OpenOffice.org képletszerkesztő
Comment[mk]=Уредувач за формули
Comment[ne]=ओपन अफिस.ओ आर जि सुत्र सम्पादक
Comment[nl]=OpenOffice.org formule-editor
Comment[nr]=Umhleli wefomula we-OpenOffice.org
Comment[nso]=Morulaganyi wa fomula ya OpenOffice.org
Comment[sk]=OpenOffice.org editor vzorcov
Comment[sq]=Edituesi i formulave i OpenOffice.org
Comment[st]=Sengodi sa fomula sa OpenOffice.org 
Comment[ts]=Xihleri xa fomula xa OpenOffice.org
Comment[vi]=Bộ hiệu chỉnh công thức OpenOffice.org
Comment[wa]=Aspougneu d' formules d' OpenOffice.org
Comment[xh]=Umhleli wendlela yokusebenza we-OpenOffice.org
Comment[zh_CN]=OpenOffice.org 公式编辑器
Comment[zu]=Umhleli wefomula we-OpenOffice.org
TryExec=oomath
Exec=oomath %U
Icon=ooo-math.png
Terminal=false
Type=Application
Categories=Office;X-Misc;
StartupNotify=true
MimeType=application/vnd.oasis.opendocument.formula
