[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Draw
Terminal=false
Icon=ooo_draw.png
Exec=oodraw
Type=Application
MimeType=application/vnd.sun.xml.draw
Categories=Graphics;
