[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Workspace
Name[af]=OpenOffice.org werkspasie
Name[ar]=بيئة عمل OpenOffice.org
Name[az]=OpenOffice.org İş Sahəsi
Name[bg]=Работна среда за OpenOffice.org
Name[br]=Egor labour OpenOffice.org
Name[bs]=OpenOffice.org radna okolina
Name[ca]=Área de treball OpenOffice.org
Name[cs]=Pracovní plocha OpenOffice.org
Name[da]=OpenOffice.org-arbejdsplads
Name[de]=OpenOffice.org-Arbeitsbereich
Name[el]=Χώρος εργασίας του OpenOffice.org
Name[eo]=Laborkadro
Name[es]=Área de trabajo de OpenOffice.org
Name[et]=OpenOffice.org töölaud
Name[fi]=OpenOffice.org työtila
Name[fr]=Atelier OpenOffice.org
Name[he]=סביבת העבודה של OpenOffice.org
Name[hr]=OpenOffice.org radni okoliš
Name[hu]=OpenOffice.org
Name[id]=Ruang kerja OpenOffice.org
Name[is]=OpenOffice.org vöndullinn
Name[it]=Spazio di lavoro di OpenOffice.org
Name[ja]=OpenOffice.orgワークスペース
Name[lt]=OpenOffice.org darbo aplinka
Name[lv]=OpenOffice.org Darbavieta
Name[mk]=Работен простор за OpenOffice.org
Name[mt]=Spazju tax-Xogħol OpenOffice.org
Name[nb]=OpenOffice.org-arbeidsplass
Name[nl]=OpenOffice.org-werkplek
Name[nn]=OpenOffice.org-arbeidsområde
Name[pl]=Pracownia OpenOffice.org
Name[pt]=Espaço de Trabalho do OpenOffice.org
Name[pt_BR]=Espaço de trabalho OpenOffice.org
Name[ro]=Spaţiu de lucru OpenOffice.org
Name[ru]=Рабочая среда OpenOffice.org
Name[sk]=Pracovný priestor OpenOffice.org
Name[sl]=Delovni prostor OpenOffice.org
Name[sv]=OpenOffice.org-arbetsyta
Name[ta]=OpenOffice.org À½¢ì¸½¢É¢
Name[th]=พื้นที่โปรแกรมชุดสำนักงาน
Name[uk]=Робочій простір OpenOffice.org
Name[ve]=Tshikhala tshau shuma tsha ofisi ya K
Name[xh]=Isithuba somsebenzi se OpenOffice.org
Name[zh_CN]=OpenOffice.org 工作空间
Name[zh_TW]=OpenOffice.org 工作空間
Name[zu]=Isikhala somsebenzi se OpenOffice.org
GenericName=Office Suite
GenericName[ar]=طقم أوفيس
GenericName[bs]=KOffice okoliš
GenericName[cs]=Kancelářská sada
GenericName[da]=Kontorpakke
GenericName[de]=Büroprogramme
GenericName[el]=Εφαρμογές γραφείου
GenericName[eo]=Oficejoprogramaro
GenericName[es]=Suite de oficina
GenericName[et]=Kontoritöö komplekt
GenericName[fi]=Toimisto-ohjelma
GenericName[fo]=Skrivstovuforrit
GenericName[fr]=Suite bureautique
GenericName[he]=חבילת יישומים משרדיים
GenericName[hr]=Skup Office programa
GenericName[hu]=dokumentumkezelő
GenericName[it]=Programmi per l'ufficio
GenericName[ja]=オフィススイート
GenericName[lt]=Ofiso rinkinys
GenericName[lv]=Ofisa Komplekts
GenericName[mt]=Sett tal-uffiċċju
GenericName[nb]=Kontorpakke
GenericName[nl]=officepakket
GenericName[nn]=Kontorpakke
GenericName[pl]=Pakiet biurowy
GenericName[pt]=Pacote de Escritório
GenericName[pt_BR]=Escritório
GenericName[ro]=Suită de aplicaţii de birou
GenericName[ru]=Офисный пакет
GenericName[sk]=Office balík
GenericName[sl]=Pisarniška zbirka
GenericName[sv]=Office-paket
GenericName[ta]=KOffice ¦¾¡ÌôÒ
GenericName[th]=โปรแกรมชุดสำนักงาน
GenericName[uk]=Офісний комплект
GenericName[ve]=Sutu ya Ofisini
GenericName[xh]=iSuite le Office
GenericName[zh_CN]=办公套件
GenericName[zh_TW]=辦公軟體程式集
Terminal=false
Icon=ooo_office.png
Exec=ooffice
Type=Application
Categories=Office;
