[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Master
Terminal=false
Icon=ooo-office.png
Exec=ooglobal
Type=Application
Categories=Office;X-Misc;
