[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Math
Terminal=false
Icon=ooo-math.png
Exec=oomath
Type=Application
MimeType=application/vnd.sun.xml.math
Categories=Office;X-Misc;
