[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Printer Administration
Name[de]=OpenOffice.org Drucker Verwaltung
Name[pl]=Zarządzanie drukarkami OpenOffice.org
Icon=ooo-printeradmin.png
Exec=/usr/sbin/oopadmin
Type=Application
Categories=Settings;
