[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Setup
Name[de]=OpenOffice.org Setup
Name[pl]=Ustawienia OpenOffice.org
MultipleArgs=false
Terminal=false
Icon=ooo_gulls.png
Exec=/usr/lib/openoffice/program/setup
Type=Application
Categories=Settings;
