[Desktop Entry]
Encoding=UTF-8
Name=Presentation
Name[az]=Təqdimat
Name[bg]=Презентация
Name[bs]=Prezentacija
Name[ca]=Presentació
Name[cs]=Prezentace
Name[da]=Præsentation
Name[de]=Präsentation
Name[el]=Παρουσίαση
Name[en_CA]=Presentation
Name[en_GB]=Presentation
Name[en_ZA]=Presentation
Name[es]=Presentación
Name[eu]=Aurkezpena
Name[fi]=Esitys
Name[fr]=Présentation
Name[ga]=Toirbeathas
Name[gl]=Presentación
Name[gu]=રજૂઆત
Name[he]=מצגות
Name[hr]=Prezentacija
Name[hu]=Bemutatókészítő
Name[is]=Impress framsetning
Name[ja]=プレゼンテーション
Name[ka]=პრეზენტაცია
Name[ko]=프리젠테이션
Name[mk]=Презентација
Name[ms]=Persembahan
Name[nb]=Presentasjon
Name[ne]=प्रस्तुति
Name[nl]=Presentatie
Name[no]=Presentasjon
Name[nr]=Phrizentheyitjhini
Name[nso]=Tlhagišo
Name[pa]=ਪੇਸ਼ਕਾਰੀ
Name[pl]=Prezentacja
Name[pt]=Presentation
Name[pt_BR]=Apresentação
Name[rw]=Iyerekana
Name[sk]=Prezentácia
Name[sq]=Prezantime
Name[sr]=Презентација
Name[sr@Latn]=Prezentacija
Name[st]=Nehelano
Name[sv]=Presentation
Name[th]=งานนำเสนอ
Name[tr]=Sunum
Name[ts]=Nkombiso
Name[uk]=Презентації
Name[vi]=Trình diễn
Name[wa]=Prezintåcion
Name[xh]=Umboniso wenkcazelo
Name[zh_CN]=演示
Name[zh_TW]=簡報
Name[zu]=Iprezenteyshin
Comment=OpenOffice.org presentation application
Comment[az]=OpenOffice.org təqdimat proqramı
Comment[bg]=Програма за презентации на OpenOffice.org
Comment[bs]=OpenOffice.org prezentacijska aplikacija
Comment[ca]=Aplicació de presentacions de l'OpenOffice.org
Comment[cs]=Aplikace OpenOffice.org pro prezentace
Comment[da]=OpenOffice.org-præsentationsprogram
Comment[de]=OpenOffice.org Präsentationsanwendung
Comment[el]=Εφαρμογή παρουσιάσεων OpenOffice.org
Comment[en_CA]=OpenOffice.org presentation application
Comment[en_GB]=OpenOffice.org presentation application
Comment[en_ZA]=OpenOffice.org presentation application
Comment[es]=Aplicación de presentaciones de OpenOffice.org
Comment[eu]=OpenOffice.org aurkezpen aplikazioa
Comment[fi]=OpenOffice.org-esityssovellus
Comment[fr]=Application de présentation OpenOffice.org
Comment[ga]=Feidhmchlár Thoirbheatha OpenOffice.org
Comment[gl]=Aplicación de presentacións de OpenOffice.org
Comment[gu]=OpenOffice.org રજૂઆત કાર્યક્રમ
Comment[he]=יישום המצגות של OpenOffice.org
Comment[hr]=OpenOffice.org aplikacija za prezentacije
Comment[hu]=OpenOffice.org bemutatókészítő alkalmazás
Comment[is]=OpenOffice.org Impress framsetning
Comment[ja]=OpenOffice.org プレゼンテーションアプリケーション
Comment[ka]=OpenOffice.org-ს პრეზენტაციების პროგრამა
Comment[ko]=OpenOffice.org 프리젠테이션 프로그램
Comment[mk]=Апликација за презентација
Comment[ms]=Aplikasi persembahan OpenOffice.org
Comment[nb]=Openoffice.org presentasjonsprogram
Comment[ne]=ओपन अफिस.ओआरजी प्रस्तुतिकरण अनुप्रयोग
Comment[nl]=OpenOffice.org presentatie-programma
Comment[no]=Openoffice.org presentasjonsprogram
Comment[nr]=Ukusetjenziswa kwephrizentheyitjhini ye-OpenOffice.org
Comment[nso]=Tirišo ya tlhagišo ya OpenOffice.org
Comment[pa]=ਉਪਨਆਫਿਸ.org ਪੇਸ਼ਕਾਰੀ 
Comment[pl]=Prezentacje OpenOffice.org
Comment[pt]=Aplicação de apresentações OpenOffice.org
Comment[pt_BR]=Pacote de apresentação do OpenOffice.org
Comment[sk]=OpenOffice.org aplikácia na prezentácie
Comment[sq]=Aplikativi për prezantimet i OpenOffice.org
Comment[sr]=Програм за презентације из Отворене канцеларије
Comment[sr@Latn]=Program za prezentacije iz Otvorene kancelarije
Comment[st]=Tshebetso ya OpenOffice.org ya nehelano
Comment[sv]=OpenOffice.org-presentationsprogram
Comment[th]=OpenOffice.org ชุดงานนำเสนอ
Comment[tr]=OpenOffice.org sunum uygulaması
Comment[ts]=Vutirhisi bya nkombiso wa OpenOffice.org
Comment[uk]=Програма створення презентацій OpenOffice.org
Comment[vi]=Ứng dụng trình diễn OpenOffice.org
Comment[wa]=Programe di prezintåcion d' OpenOffice.org
Comment[xh]=Inkqubo yomboniso wenkcazelo ye-OpenOffice.org
Comment[zh_CN]=OpenOffice.org 演示应用程序
Comment[zh_TW]=OpenOffice.org 簡報應用程式
Comment[zu]=Uhlelo lwamaprezenteyshin lwe-OpenOffice.org
TryExec=ooimpress
Exec=ooimpress %U
Icon=ooo-impress.png
Terminal=false
Type=Application
Categories=Office;Presentation;
StartupNotify=true
MimeType=application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.ms-powerpoint;application/vnd.stardivision.impress;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;
