[Desktop Entry]
Encoding=UTF-8
Name=Spreadsheet
Name[az]=Hesab Cədvəli
Name[bg]=Електронна таблица
Name[bs]=Spreadsheet
Name[ca]=Full de càlcul
Name[cs]=Tabulkový kalkulátor
Name[da]=Regneark
Name[de]=Tabellenkalkulation
Name[el]=Λογιστικό φύλλο 
Name[en_CA]=Spreadsheet
Name[en_GB]=Spreadsheet
Name[en_ZA]=Spreadsheet
Name[es]=Hoja de cálculo
Name[eu]=Kalkulu-orria
Name[fi]=Taulukkolaskenta
Name[fr]=Tableur
Name[ga]=Scarbhileog
Name[gl]=Folla de cálculo
Name[gu]=સ્પ્રેડશીટ
Name[he]=גיליון אלקטרוני
Name[hr]=Tablični kalkulator
Name[hu]=Táblázatkezelő
Name[is]=Töflureiknir
Name[ja]=スプレッドシート
Name[ka]=ტაბელური კალკულაცია
Name[ko]=스프레드시트
Name[mk]=Табели
Name[ms]=Hamparan
Name[nb]=Regneark
Name[ne]=स्प्रेडशिट
Name[nl]=Spreadsheet
Name[no]=Regneark
Name[nr]=Spredtjhiti
Name[nso]=Letlakala la go ala tsebišo
Name[pa]=ਸਾਰਣੀ
Name[pl]=Arkusz Kalkulacyjny
Name[pt]=Spreadsheet
Name[pt_BR]=Planilha Eletrônica
Name[rw]=Urupapurorusesuye
Name[sk]=Tabuľkový procesor
Name[sq]=Fleta elektronike
Name[sr]=Табеле
Name[sr@Latn]=Tabele
Name[st]=Leqephe la ho ala boitsebiso
Name[sv]=Kalkylblad
Name[th]=ตารางคำนวน
Name[tr]=Hesap çizelgesi
Name[ts]=Xipredxiti
Name[uk]=Електронні таблиці
Name[vi]=Bảng tính
Name[wa]=Tåvleu
Name[xh]=Icwecwe leeseli
Name[zh_CN]=电子表格
Name[zh_TW]=試算表
Name[zu]=Ispredshit
Comment=OpenOffice.org spreadsheet
Comment[az]=OpenOffice.org hesab cədvəli
Comment[bg]=Програма за електронни таблици на OpenOffice.org
Comment[bs]=penOffice.org spreadsheet
Comment[ca]=Full de càlcul de l'OpenOffice.org
Comment[cs]=Tabulkový kalkulátor OpenOffice.org
Comment[da]=OpenOffice.org-regneark
Comment[de]=OpenOffice.org Tabellenkalkulation
Comment[el]=Λογιστικό φύλλο OpenOffice.org
Comment[en_CA]=OpenOffice.org spreadsheet
Comment[en_GB]=OpenOffice.org spreadsheet
Comment[en_ZA]=OpenOffice.org spreadsheet
Comment[es]=Hoja de cálculo de OpenOffice.org
Comment[eu]=OpenOffice.org kalkulu-orria
Comment[fi]=OpenOffice.org-taulukkolaskenta
Comment[fr]=Tableur OpenOffice.org
Comment[ga]=Scarbhileog OpenOffice.org
Comment[gl]=Folla de cálculo de OpenOffice.org
Comment[gu]=OpenOffice.org સ્પ્રેડશીટ
Comment[he]=הגיליון האלקטרוני של OpenOffice.org
Comment[hr]=Proračunska tablica OpenOffice.org
Comment[hu]=OpenOffice.org táblázatkezelő
Comment[is]=OpenOffice.org töflureiknir
Comment[ja]=OpenOffice.org スプレッドシート
Comment[ka]=OpenOffice.org-ის ტებელური კალკულაცია
Comment[ko]=OpenOffice.org 스프레드시트
Comment[mk]=Апликација за табели
Comment[ms]=hamparan OpenOffice.org
Comment[nb]=Tekstbehandling (1.1)
Comment[ne]=ओपन अफिस.ओ आर जि स्प्रेडशिट
Comment[nl]=OpenOffice.org spreadsheet
Comment[no]=Tekstbehandling (1.1)
Comment[nr]=Spredtjhiti se-OpenOffice.org
Comment[nso]=Letlakala la go ala tsebišo la OpenOffice.org
Comment[pa]=ਉਪਨਆਫਿਸ.org ਸਾਰਣੀ
Comment[pl]=Arkusz Kalkulacyjny OpenOffice.org
Comment[pt]=Folha de cálculo OpenOffice.org
Comment[pt_BR]=Planilha Eletrônica  OpenOffice.org
Comment[sk]=OpenOffice.org tabuľkový procesor
Comment[sq]=Fleta elektronike e OpenOffice.org
Comment[sr]=Табеле из Отворене канцеларије
Comment[sr@Latn]=Tabele iz Otvorene kancelarije
Comment[st]=Leqephe la ho ala boitsebiso la OpenOffice.org
Comment[sv]=OpenOffice.org-kalkylblad
Comment[th]=OpenOffice.org ตารางคำนวน
Comment[tr]=OpenOffice.org hesap çizelgesi
Comment[ts]=Xipredxiti xa OpenOffice.org
Comment[uk]=Електронна таблиці OpenOffice.org
Comment[vi]=Bảng tính OpenOffice.org
Comment[wa]=Tåvleu d' OpenOffice.org
Comment[xh]=Icwecwe leeseli le-OpenOffice.org
Comment[zh_CN]=OpenOffice.org 电子表格
Comment[zh_TW]=OpenOffice.org 試算表
Comment[zu]=Ispredshit se-OpenOffice.org
TryExec=oocalc
Exec=oocalc %U
Icon=ooo-calc.png
Terminal=false
Type=Application
Categories=Office;Spreadsheet;
StartupNotify=true
MimeType=application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/vnd.sun.xml.math;application/vnd.ms-excel;application/vnd.stardivision.calc;application/vnd.stardivision.chart;application/vnd.stardivision.math;application/vnd.lotus-1-2-3;text/x-comma-separated-values;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;

