[Desktop Entry]
Encoding=UTF-8
Name=Word Processor
Name[az]=Kəlmə İşlədici
Name[bg]=Текстообработка
Name[bs]=Word Processor
Name[ca]=Processador de textos
Name[cs]=Textový procesor
Name[da]=Tekstbehandler
Name[de]=Textverarbeitung
Name[el]=Επεξεργαστής κειμένου
Name[en_CA]=Word Processor
Name[en_GB]=Word Processor
Name[en_ZA]=Word Processor
Name[es]=Procesador de textos
Name[eu]=Testu prozesatzailea
Name[fi]=Tekstinkäsittely
Name[fr]=Traitement de texte
Name[ga]=Próiseálaithe Focal
Name[gl]=Procesador de textos
Name[gu]=વર્ડ પ્રોસેસર
Name[he]=מעבד תמלילים
Name[hr]=Program za obradu teksta
Name[hu]=Szövegszerkesztő
Name[is]=Ritvinnsla
Name[ja]=ワープロ
Name[ka]=წერის პროგრამა
Name[ko]=워드 프로세서
Name[mk]=Процесор за текст
Name[ms]=Pemproses Perkataan
Name[nb]=Tekstbehandling
Name[ne]=शव्ध प्रशोधक
Name[nl]=Tekstverwerker
Name[no]=Tekstbehandling
Name[nr]=Isenzi Mitlolo
Name[nso]=Sehlami sa Lentšu
Name[pa]=ਸ਼ਬਦਕਾਰ
Name[pl]=Procesor tekstu
Name[pt]=Word Processor
Name[pt_BR]=Processador de texto
Name[sk]=Textový procesor
Name[sq]=Procesues teksti
Name[sr]=Обрада текста
Name[sr@Latn]=Obrada teksta
Name[st]=Word Processor
Name[sv]=Ordbehandlare
Name[th]=พิมพ์งาน
Name[tr]=Kelime İşlem
Name[ts]=Xitirhisi xa marito
Name[uk]=Текстовий процесор
Name[vi]=Bộ xử lý từ
Name[wa]=Aspougneu d' tecse
Name[xh]=Inkqubo Yokuqhuba Amagama
Name[zh_CN]=文字处理
Name[zh_TW]=文書處理器
Name[zu]=Umshini Ohlela Amagama
Comment=OpenOffice.org word processor
Comment[az]=OpenOffice.org kəlmə işlədicisi
Comment[bg]=Програма за текстообработка на OpenOffice.org
Comment[bs]=OpenOffice.org word processor
Comment[ca]=Processador de textos de l'OpenOffice.org
Comment[cs]=Textový procesor OpenOffice.org
Comment[da]=OpenOffice.org-tekstbehandler
Comment[de]=OpenOffice.org Textverarbeitung
Comment[el]=Επεξεργαστής κειμένου OpenOffice.org
Comment[en_CA]=OpenOffice.org word processor
Comment[en_GB]=OpenOffice.org word processor
Comment[en_ZA]=OpenOffice.org word processor
Comment[es]=Procesador de textos de OpenOffice.org
Comment[eu]=OpenOffice.org testu prozesatzailea
Comment[fi]=OpenOffice.org-tekstinkäsittely
Comment[fr]=Traitement de texte OpenOffice.org
Comment[ga]=Próseálaithe Focal OpenOffice.org
Comment[gl]=Procesador de textos de OpenOffice.org
Comment[gu]=OpenOffice.org વર્ડ પ્રોસેસર
Comment[he]=מעבד התמלילים של OpenOffice.org
Comment[hr]=OpenOffice.org program za obradu teksta
Comment[hu]=OpenOffice.org szövegszerkesztő
Comment[is]=OpenOffice.org Ritvinnsla
Comment[ja]=OpenOffice.org ワープロ
Comment[ka]=OpenOffice.org-ის წერის პროგრამა
Comment[ko]=OpenOffice.org 워드 프로세서
Comment[mk]=Процесор за текст
Comment[ms]=Pemproses perkataan OpenOffice.org
Comment[nb]=OpenOffice.org tekstbehandling
Comment[ne]=ओपन अफिस.ओ आर जि शव्द प्रशोधक
Comment[nl]=OpenOffice.org tekstverwerker
Comment[no]=OpenOffice.org tekstbehandling
Comment[nr]=Isenzi mitlolo se-OpenOffice.org
Comment[nso]=Sehlami sa lentšu sa OpenOffice.org
Comment[pa]=ਉਪਨਆਫਿਸ.org ਸ਼ਬਦਕਾਰ
Comment[pl]=Procesor tekstu OpenOffice.org
Comment[pt]=Processador de texto OpenOffice.org
Comment[pt_BR]=Processador de texto OpenOffice.org
Comment[sk]=OpenOffice.org textový procesor
Comment[sq]=Procesuesi i tekstit i OpenOffice.org
Comment[sr]=Обрада текста из Отворене канцеларије
Comment[sr@Latn]=Obrada teksta iz Otvorene kancelarije
Comment[st]=Word processor ya OpenOffice.org 
Comment[sv]=OpenOffice.org-ordbehandlare
Comment[th]=OpenOffice.org ชุดพิมพ์งาน
Comment[tr]=OpenOffice.org kelime işlem
Comment[ts]=Xitirhisi xa marito xa OpenOffice.org
Comment[uk]=Текстовий процесор OpenOffice.org
Comment[vi]=Bộ xử lý từ OpenOffice.orgr
Comment[wa]=Aspougneu d' tecse d' OpenOffice.org
Comment[xh]=Inkqubo yokuqhuba amagama ye-OpenOffice.org
Comment[zh_CN]=OpenOffice.org 文字处理器
Comment[zh_TW]=OpenOffice.org 文書處理器
Comment[zu]=Umshini ohlela amagama we-OpenOffice.org
TryExec=oowriter
Exec=oowriter %U
Icon=ooo-writer.png
Terminal=false
Type=Application
Categories=Office;WordProcessor;
StartupNotify=true
MimeType=application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.global;application/vnd.sun.xml.writer.template;application/vnd.ms-word;application/x-mswrite;application/vnd.stardivision.writer;application/vnd.wordperfect;application/wordperfect;application/rtf;text/rtf;text/plain;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-master;application/vnd.oasis.opendocument.text-template;
